extends ../layout/base 
block content 
	section.content-header(style="padding-top: 70px")
		h1 
			| Universitas Gajah Mada
			small Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Dashboard
			li.active Here 
	section.content
		