header.main-header(style="top: 0; position: fixed; width: 100%; z-index: 2;")
    a(href='/').logo
        span.logo-mini(style="background-color: #fff")
            .pull-left.image 
                img(src='/adminlte/dist/img/ugm3.png',alt='User Image', style='width: 50px; padding-bottom: 3px, margin-left: -1px;').img-align-left.img-circle
        span.logo-lg
            <b>Daftar Mahasiswa</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                    li.dropdown.user.user-menu
                        a(href='#',data-toggle='dropdown').dropdown-toggle
                            img(src='/adminlte/dist/img/doctor.svg',alt='UserImage').user-image
                            span.hidden-xs
                                | Favian Zhafif Arkan
                        ul.dropdown-menu
                            li.user-header
                                img(src='/adminlte/dist/img/doctor.svg',alt='UserImage').img-circle
                                p
                                    | Favian Zhafif Arkan
                                    small
                                        | Member since Nov. 2018
                            li.user-footer
                                .pull-left
                                    a(href='#').btn.btn-default.btn-flat
                                        | Profile
                                .pull-right
                                    a(href='/logout').btn.btn-default.btn-flat
                                        | Sign out