aside.main-sidebar(style="height: 100%; position: fixed; z-index: 1; top: 0; left: 0; overflow-x: hidden; padding-top: 55px;")
    section.sidebar
        ul.sidebar-menu
            li.header(style="background-color: #fff")
                img(src='/adminlte/dist/img/ugm2.png',alt='User Image', style='width: 200px;').img-align-left
            li.header
                | Main Navigation
            li.treeview
                a(href='/')
                    i.fa.fa-book
                    span
                        | Daftar Utama
            li.treeview
                a(href='/fakultas')
                    i.fa.fa-landmark
                    span
                        | Tentang UGM
            li.treeview
                a(href='#' style="hover: #ff0000")
                    i.fa.fa-brands.fa-elementor
                    span
                        | Fakultas
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='/students/kedokterangigi')
                            i.fa.fa-align-left
                            | Fakultas Kedokteran Gigi
                    li
                        a(href='/students/kedokteranhewan')
                            i.fa.fa-align-left
                            | Fakultas Kedokteran Hewan
                    li
                        a(href='/students/kedokteran')
                            i.fa.fa-align-left
                            | Fakultas Kedokteran
                    li
                        a(href='/students/biologi')
                            i.fa.fa-align-left
                            | Fakultas Biologi
                    li
                        a(href='/students/farmasi')
                            i.fa.fa-align-left
                            | Fakultas Farmasi
                    li
                        a(href='/students/geografi')
                            i.fa.fa-align-left
                            | Fakultas Geografi
                    li
                        a(href='/students/kehutanan')
                            i.fa.fa-align-left
                            | Fakultas Kehutanan
                    li
                        a(href='/students/mipa')
                            i.fa.fa-align-left
                            | Fakultas MIPA
                    li
                        a(href='/students/pertanian')
                            i.fa.fa-align-left
                            | Fakultas Pertanian
                    li
                        a(href='/students/peternakan')
                            i.fa.fa-align-left
                            | Fakultas Peternakan
                    li
                        a(href='/students/teknik')
                            i.fa.fa-align-left
                            | Fakultas Teknik
                    li
                        a(href='/students/teknologipertanian')
                            i.fa.fa-align-left
                            | Fakultas Teknologi Pertanian
                    li
                        a(href='/students/ekonomidanbisnis')
                            i.fa.fa-align-left
                            | Fakultas Ekonomi dan Bisnis
                    li
                        a(href='/students/filsafat')
                            i.fa.fa-align-left
                            | Fakultas Filsafat
                    li
                        a(href='/students/hukum')
                            i.fa.fa-align-left
                            | Fakultas Hukum
                    li
                        a(href='/students/ilmubudaya')
                            i.fa.fa-align-left
                            | Fakultas Ilmu Budaya
                    li
                        a(href='/students/isipol')
                            i.fa.fa-align-left
                            | Fakultas ISIPOL
                    li
                        a(href='/students/psikologi')
                            i.fa.fa-align-left
                            | Fakultas Psikologi                  
            li.treeview
                a(href='#' style="hover: #ff0000")
                    i.fa.fa-calendar
                    span
                        | Tahun Masuk
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='/students/2020')
                            i.fa.fa-align-left
                            | 2020
                    li
                        a(href='/students/2021')
                            i.fa.fa-align-left
                            | 2021
                    li
                        a(href='/students/2022')
                            i.fa.fa-align-left
                            | 2022
            
                    
            